<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.smart_green_house">
    <uses-permission android:name="android.permission.INTERNET" /> <!-- this line adds the required permission request -->
    <application
        android:allowBackup="true"
        android:icon="@mipmap/gh"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/gh"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".splashscreen"
            android:theme="@style/splashscreen" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".startpage" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".resetpasswordActivity" />
        <activity android:name=".RegistrationActivity" />
        <activity android:name=".MainActivity" android:theme="@style/AppTheme"></activity>

     </application>


</manifest>